@* @page
@model DisasterAlleviation.Pages.IncidentManagementModel
@{
    ViewData["Title"] = "Incidents";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>@ViewData["Title"]</h2>
    <a href="/ReportIncident" class="btn btn-primary">Report Incident</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Incident Type</th>
            <th>Location</th>
            <th>Severity</th>
            <th>Description</th>
            <th>Report Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.IncidentReports)
        {
            <tr>
                <td>@report.IncidentType</td>
                <td>@report.Location</td>
                <td>@report.Severity</td>
                <td>@report.Description</td>
                <td>@report.ReportDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
 *@